<div #gmap style="width:100%;height:200px"></div>

<div style="display: flex; justify-content: space-around">
<div style="width: 75vw" *ngIf="route">
  <mat-card *ngFor="let step of route.steps" style="width: 100%; margin: 1em 0;">
    <mat-card-header>
      <div mat-card-avatar>
        <img
            src="{{ step.icon }}"
            style="width: 30px; height: 30PX"
        />
      </div>
      <mat-card-title>{{step.name}}</mat-card-title>
      <mat-card-subtitle>{{ step.direction}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
</div>


