<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

  <div class="row">
    <div class="col" >
    <div class="btn-group" role="group" aria-label="Your current options">
      <button mat-raised-button color="primary" style="float: right; margin: 5px"
      (click)="chooseBike()">
      <img src="../../assets/bike.svg" height="56"><br>
        Rad <br>
        Preis: 1,20 <br>
        Punkte: 500<br>
        Ankunft: 14:55

      </button>
      <button mat-stroked-button style="float: left; margin: 5px" >
        <img src="../../assets/taxi.svg" height=56><br>
        TAXI <br>
        Preis: 11,70 <br>
        Punkte: 25<br>
        Ankunft: 14:35

      </button>
    </div>
    </div>
  </div>
</div>
