<div style="display: flex; justify-content: center">
  <div style="margin-top: 2rem;">
    <div class="btn-group" role="group" aria-label="Your current options">
      <button mat-raised-button color="primary" style="float: right; margin: 5px; padding: 2rem;"
              [routerLink]="['/pickup']">
        <img src="../../assets/bike.svg" height="56"><br>
          Rad <br>
          Preis: 1,20 <br>
          Punkte: 50<br>
          Ankunft: 7:55

      </button>
      <button mat-stroked-button style="float: left; margin: 5px; padding: 2rem;" >
        <img src="../../assets/taxi.svg" height=56><br>
        TAXI <br>
        Preis: 11,70 <br>
        Punkte: 5<br>
        Ankunft: 7:39

      </button>
    </div>
  </div>
</div>
