<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
<div *ngIf="isQrCode; else grabTheBike">
  <div class="row">
    <div class="col" >
      <button mat-stroked-button style="margin: 5px" >
        <img src="../../assets/qr-code.png" height=256><br>

      </button>
    </div>
  </div>
      <div class="row">
    <div class="col" >

        <button mat-raised-button color="primary" (click)="releaseBike()">Entsperren</button>
    </div>
  </div>
</div>
  <ng-template #grabTheBike>
    <div class="row">
      <div class="col" >
        <button mat-stroked-button style="margin: 5px" >
          <img src="../../assets/lock.svg" height=256><br>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col" >
        <img src="../../assets/done.svg" [routerLink]="['/reward-summary']">
      </div>
    </div>
  </ng-template>
</div>
