<div style="display: flex; justify-content: center">
  <div style="margin-top: 2rem;">
    <div class="col" >
        <div style="font-size: 1.4rem;">
          <img src="../../assets/img/bee-hive.svg" height="256" style="margin-bottom: 1rem;"><br>
          Bisher hast Du <strong>{{ beeBalance }} Bienen</strong> gerettet.<br>

          Die Natur und N-Ergie danken Dir.

        </div>
        <button mat-stroked-button style="width: 100%; margin: 1rem 0;"
        [routerLink]="['/']">
And they lived happily ever after...
        </button>
    </div>
  </div>
</div>
