mgl-timeline {
  max-width: 40rem;
  margin: 0 auto;
  background: transparent;
}


.start-button{
  background-color: dimgray !important;
  color: white;
}
.stuff-animated{
  background-color: #123456 !important;
}

.active {
  outline: 8px solid green;
}

mgl-timeline-entry-dot {
  display: flex;
  align-items: center;
  color: white;
}

.points {
  display: flex;
  align-items: flex-end;
  color: darkgray;
}

.mgl-timeline-entry-dot-red {
  background: darkred !important;
}

.mgl-timeline-entry-dot-green {
  background: green !important;
}

.mgl-timeline-entry-dot-yellow {
  background: orange !important;
}

.expanded {
  mgl-timeline-entry-header {
    color: white;
  }

  .vehicleIcons {
    display: none;
  }
}


.entry-dot-content {
  color: white;
}

.header-content {
  display: flex;
  align-items: center;
}
