mgl-timeline {
  max-width: 40rem;
  margin: 0 auto;
  background: #FFDF00;
}

mgl-timeline-entry-dot {
  display: flex;
  align-items: center;
  // z-index: 1000;
  // justify-content: center;
  // padding-left: 1rem;
  color: white;
}

.entry-dot-content {
  color: white;
}
