<mgl-timeline focusOnOpen="true" mobileWidthThreshold="10000">
    <mgl-timeline-entry *ngFor="let route of routes">
        <mgl-timeline-entry-header>
          <div class="row">
            <div class="col-xs-12 col-md-2">
            </div>
            <div class="col-xs-12 col-md-7">
              {{route.startStation}}
              <img
                  *ngFor="let icon of route.vehicleIcons"
                  src="{{ icon }}"
                  style="width: 30px; height: 30PX"
              />
            </div>
            <div class="col-xs-12 col-md-3" style="display: flex; justify-content: flex-end">
                {{ weather.temperature | number: '2.0-0' }}°C {{ weather.iconName }}
            </div>
          </div>
        </mgl-timeline-entry-header>
        <mgl-timeline-entry-content>
          <div class="row" style="display: flex; justify-content: center">
            <div *ngFor="let step of route.steps; let i = index">
              <img
                  src="{{ step.icon }}"
                  style="width: 30px; height: 30PX"
              />
              <span [ngClass]="getLoadStateClassOfStep(step)">{{ step.name }}</span>
              <span *ngIf="i < route.steps.length - 1"> → </span>
            </div>
          </div>
          <hr />
          <div class="row" *ngFor="let step of route.steps">
            <div class="col-xs-12 col-md-9" *ngIf="step.loadState >= 60">
                • Erhöhte Auslastung der Linie {{ step.name }}
            </div>
            <div class="col-xs-12 col-md-3" style="display: flex; justify-content: flex-end" *ngIf="step.loadState >= 60">
                → Details
            </div>
          </div>
          <button class="mat-flat-button" style="float: right; background-color: green; margin-bottom: 5px">Start</button>
        </mgl-timeline-entry-content>
        <mgl-timeline-entry-dot size="60" [ngClass]="getLoadStateClass(route)">
          &nbsp;&nbsp;{{route.startTime | date:'HH:mm' }}<br/>&nbsp;&nbsp;{{route.endTime | date:'HH:mm' }}
        </mgl-timeline-entry-dot>
    </mgl-timeline-entry>
</mgl-timeline>
