<div class="headercontainer">
  <div class="headercontent" style="display: flex; justify-content: space-between;" >
    <a class="appname" [routerLink]="['/']" style="display: flex; justify-content: center; align-items: center">
      <h1 style="font-weight: 200">My</h1>
      <img alt="logo" src="../../assets/img/logo.png" style="height: 6rem; margin-bottom: 0.1rem">
      <h1 style="font-weight: 200">Companion</h1>
    </a>
    <div style="display: flex; flex-direction: row; align-items: center;">
      <div style="display: flex; align-items: center">
        <span [ngClass]="updateWalletBalance()">{{ this.balance }}</span>
        <img alt="save-money" src="../../assets/img/save-money.png" style="width: 30px; height: 30px; margin: 0 0.5rem; padding-bottom: 0.5rem">
      </div>
      <button style="margin: 0 1rem; padding: 0.5rem" class="settings" [routerLink]="['/preferences']">Einstellungen</button>
  </div>
</div>
</div>
