.headercontainer {
  background: darkred;
  color: white;
}

.headercontent {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 1rem;
  height: 80px;
}

.appname {
  display: inline;
  color: white;
  text-decoration: none;
}

.settings {
  display: inline;
  float: right;
  border-radius: 8px;
  background-color: darkred;
  color: white;
  margin-top: 5px;
}
