.headercontainer {
  background: darkred;
  color: white;
}

.headercontent {
  max-width: 75rem;
  margin: 0 auto;
}

.appname {
  display: inline;
}

.settings {
  display: inline;
  float: right;
  border-radius: 8px;
  background-color: darkred;
  color: white;
  margin-top: 5px;
}
